<%= content_for :head do %>
    <%= javascript_pack_tag "application" %>
<% end %>


<div
 id="react-root",
 data-page = "dashboard",
 data-role = "<%= current_user.role %>"
 data-user-name="<%= current_user.name %>"
 data-ticket-count = "<%= @tickets.count %>"
>
</div>